<link rel="stylesheet" href="auth.css">

<p>Sign Up</p>
{{#if signup_err}}
<p>This email is already taken, please try again.</p>
{{/if}}
<form action='/register' method="POST">
    <input type="text" name="first" placeholder="first name">
    <input type="text" name='last' placeholder="last name">
    <input type="email" name='email' placeholder="email">
    <input type="password" name='pass' placeholder="password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>sign up</button>
</form>

<p>OR</p>

<p>Log In</p>
{{#if login_err}}
<p>user doesn't exist, please sign up first.</p>
{{/if}}

{{#if pass_err}}
<p>wrong password, please try again.</p>
{{/if}}

<form action="/login" method="POST">
    <input type="email" name='email' placeholder="email">
    <input type="password" name='pass' placeholder="password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>log in</button>
</form>