<h2>Description of the petition</h2>

<div class="form-wrapper">
    {{#if err}}
    <p>Please fill the form.</p>
    {{/if}}
    <form method="POST">
        <div class="nameInputWrapper">
            <input name='first' placeholder="first name">
            <input name='last' placeholder="last name">
        </div>
        <input type='hidden' name="sig">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <textarea name="msg" cols="30" rows="5" placeholder="your message"></textarea>
        <canvas></canvas>
        <button>submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="script.js"></script>