<h3>He works hard and is a great social fit- <br>
    <a href="/auth">Log in or sign up</a>
    to help David get a job in Berlin tech and raise
    awareness.
</h3>

<a href='/signers'>Click here to see what all {{count}} people that already signed say about him →</a>