<div class="card card-body col-md-6 mx-auto mt-4">


    {{#if err}}
    <p class="text-danger">Please fill the form.</p>
    {{/if}}

    <form method="POST">
        <div class="form-group">
            <canvas class="border" width="400"></canvas>
            <input type='hidden' name="sig">
        </div>
        <div class="form-group">
            <textarea class='w-100 md-textarea form-control' name="msg" rows="2"
                placeholder="your message (optional)"></textarea>
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="btn btn-primary w-100">submit</button>
    </form>

</div>
<script src="script.js"></script>