<link rel="stylesheet" href="home.css">

<h3>Sign below by drawing into the signature field.</h3>
<div class="form-wrapper">

    {{#if err}}
    <p>Please fill the form.</p>
    {{/if}}

    <form method="POST">
        <input type='hidden' name="sig">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <canvas></canvas>
        <textarea name="msg" cols="30" rows="5" placeholder="your message (optional)"></textarea>
        <button>submit</button>
    </form>
</div>

<script src="script.js"></script>