<link rel="stylesheet" href="register.css">

<h2>please register</h2>

{{#if err}}
<p>please fill the form.</p>
{{/if}}

<form method="POST">
    <input type="text" name="first" placeholder="first name">
    <input type="text" name='last' placeholder="last name">
    <input type="email" name='email' placeholder="email">
    <input type="password" name='pass' placeholder="password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>submit</button>
</form>

<p>OR</p>
<a href="/login">log in</a>