<h1>Thank you for signing the petition, {{first}}!</h1>

<img class='sigImg' src="{{sig}}" alt="image of signature">

<a href="/signers">
    <h2>See all {{count}} signers</h2>
</a>

<a href="/edit">Edit your profile</a>