.signers {
    font-style: italic;
}

.form-wrapper {
    margin-top: 20px;
}
.form-wrapper form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.nameInputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input {
    width: 100%;
}

canvas,
.sigImg {
    border: 1px solid black;
}

textarea {
    margin: 10px 0;
    resize: none;
}
