* {
    box-sizing: border-box;
    font-family: sans-serif;
}

footer {
    margin-top: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
